body{
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    width: 1200px;
    margin: auto;
}

.menu_nav{
    position: fixed;
    z-index: 100;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg, white, rgba(255, 255, 255, 0))
}

.menu{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px; 

}

.menu li{
    list-style-type: none;
    font-size: 18px;
}

.menu li a{
    position: relative;
    display: block;
    color: rgb(57, 54, 74); 
    padding: 4px 5px;
    text-decoration: none;
}


.menu li a:hover{
    border-bottom: 1.5px solid rgb(57, 54, 74);
    text-decoration: none;
}

.menu li a.active{
    border-bottom: 2.5px solid rgb(57, 54, 74);
    font-weight: 800;
} 

.logo{
    width: 80px;
    height: 80px;
    margin-top: 10px; 
}

.social{
    width: 35px;
    height: 35px;
    margin: 35px 10px 0 0; 
}

.main{
    width: 1020px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 170px; 
    justify-content: space-around;
}

.main_photo{
    position: relative;
    width: 560px;
    margin-top: -10px; 
}

.image_main{
    position: absolute;
    width: 450px;
    left: 100px;
    top: 15px;
}

.circle{
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(40deg, rgb(233, 145, 125), rgba(243, 161, 114, 0.041)); 
    border-radius: 300px;
    left: 80px;
    top: 5px;
}

.about{
    width: 490px;
    color: rgb(57, 54, 74);
}

.about h1{
    font-size: 50px;
    font-weight: 800;
}

.about h3{
    font-size: 26px;
    font-weight: 800;
    color: rgb(243, 162, 114);
}

.about p{
    font-size: 16px;
    margin-top: 35px;
}

.about p span{
    font-weight: 700;
}

.academy{
    position: relative;
    width: 400px;
    padding-left: 30px;
    margin: 30px 0;
    font-size: 16px;
}

.academy li{
    list-style-type: none;
    margin: 20px 0;
}

.point{
    position: absolute;
    width: 15px;
    height: 15px;
    background: linear-gradient(90deg, rgb(233, 145, 125), rgb(243, 162, 114));
    border-radius: 10px;
    left: 5px;
}

.button{
    width: 250px;
    height: 50px;
    background: linear-gradient(90deg, rgb(241, 139, 116), rgb(247, 174, 131));
    box-shadow: 0px 0px 20px rgba(98, 56, 41, 0.2);
    border-radius: 30px;
    border: 0;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.button:hover{
    background: linear-gradient(90deg, rgb(235, 114, 87) 0%, rgb(238, 142, 87) 100%);
}

.container{
    width: 1020px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.procedures{
    margin-top: 50px;
    padding-top: 150px;
}
.procedures h1{
    font-size: 30px;
    color: rgb(243, 162, 114);
    font-weight: 800;
}

.container_injection{
    display: flex;
    flex-direction: column;
}

.care{
    width: 1020px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
}

.card{
    width: 300px;
    height: 250px;
    border-radius: 23px;
    border: 0;
}

.stone, .clean, .proc_care, .needle, .cactus, .roll, .rose, .leaf, .viene_1, .viene_2{
    width: 300px;
    height: 250px;
    border-radius: 23px;
}

.colomn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.fill{
    position: relative;
}

.name{
    position: absolute;
    width: 300px;
    height: 60px;
    background: linear-gradient(180deg, rgba(57, 54, 74, 0.08), rgb(57, 54, 74) );
    border-radius: 25px;
    top: 190px;
}

.name p{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-top: 15px;
    letter-spacing: 1px;
}